<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="UISInMemory" packages="">
	<Appenders>
		<Flume name="ecloudagent" compress="false">
			<Agent host="localhost" port="41416" />
			<RFC5424Layout enterpriseNumber="18060" includeMDC="true"
				appName="UISInMemory" />
		</Flume>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="ecloudagent" />
		</Root>
		<Logger name="eu.europeana.cloud.service.uis.InMemoryDataProviderService">
			<AppenderRef ref="ecloudagent" />
		</Logger>
		<Logger name="eu.europeana.cloud.service.uis.InMemoryUniqueIdentifierService">
			<AppenderRef ref="ecloudagent" />
		</Logger>
	</Loggers>
</Configuration>