<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, 
see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!--
      git.commit.id.describe=${git.commit.id.describe}
      git.commit.id=${git.commit.id}
      git.branch=${git.branch}
      git.commit.user.email=${git.commit.user.email}
      git.commit.time=${git.commit.time}
      git.build.user.email=${git.build.user.email}
      git.build.time=${git.build.time}
  -->


     <display-name>Identifier Service Api</display-name>

</web-app>
