*.iml
*.idea
*.DS_Store
/services/mcs/nb-configuration.xml
/target
/.settings
/.classpath
/.project
/services/mcs/mcs-api/target/
/services/mcs/mcs-inmemory-impl/target/
/services/mcs/mcs-persistent-impl/target/
/services/mcs/mcs-rest/target/

nb-configuration.xml
nbactions.xml
/ecloud-solr/customized-solr/target/
/ecloud-solr/solr-distr/target/

*ewa-nocommit*
*ola-nocommit*
/service/mcs/mcs-driver/target/
/service/mcs/driver/target/
/tools/ecloud-dlf-ingestion-tool/target/
/service/dls/target/
/service/aas/rest/target//service/dls/target/

**/.vagrant
/cassandra-connector/target/
/cassandra-connector/cass/target/
/cass/target/