*.iml
*.idea
*.DS_Store
/services/mcs/nb-configuration.xml
/target
/.settings
/.classpath
/.project
/services/mcs/mcs-api/target/
/services/mcs/mcs-inmemory-impl/target/
/services/mcs/mcs-persistent-impl/target/
/services/mcs/mcs-rest/target/
/solr/custom/overlays
nb-configuration.xml
nbactions.xml
/ecloud-solr/customized-solr/target/
/ecloud-solr/solr-distr/target/

*ewa-nocommit*
*ola-nocommit*
/service/mcs/mcs-driver/target/
/service/mcs/driver/target/
/tools/ecloud-dlf-ingestion-tool/target/
/service/dls/target/
/service/aas/rest/target/
/service/aas/rest-client-java/target/
/service/commons/target/

**/.vagrant
/cassandra-connector/target/
/cassandra-connector/cass/target/
/cass/target/
/service/dps/rest/target/
/service/dps/storm/common/target/
/service/dps/storm/kafka/target/
/service/dps/storm/io/target/
/service/dps/storm/transform/xslt/target/
/service/dps/storm/topology/xslt/target/
/service/dps/storm/examples/target/

/service/dps/storm/topologies/text/target/
/service/dps/kafka-service/target/
/service/dps/zoo-service/target/
/service/dps/storm/transform/text/target/

/service/dps/storm/index/target/
/service/dps/storm/topologies/indexer/target/
/service/dps/index/target/
/service/dps/similarity/target/
solr/custom/overlays/

/service/dps/cassandra/target/
/service/dps/storm/topologies/extract_and_index/target/
service/ips/target/
/service/dps/utils/target/
/service/dps/storm/topologies/ic/ic-topology/target/
/service/dps/storm/topologies/ic/converter/target/solr/custom/overlays/

