*.iml
*.idea
*.DS_Store
/services/mcs/nb-configuration.xml
target/
.settings
.classpath
.project
/solr/custom/overlays
nb-configuration.xml
nbactions.xml

**/.vagrant
/service/dps/index/data/
solr/custom/overlays/

/ecloud-parent.ipr
/ecloud-parent.iws

create_changelog.sh
/logs
/uis.log
/s3-modifications.log
/mcs.log
/dps.log
