<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="MCSPersistent" packages="">
	<Appenders>
		<Flume name="ecloudagent" compress="false">
			<Agent host="localhost" port="41415" />
			<RFC5424Layout enterpriseNumber="18060" includeMDC="true"
				appName="MCSPersistent" />
		</Flume>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="ecloudagent" />
		</Root>
		<Logger name="eu.europeana.cloud.service.mcs.persistent.CassandraDataSetService">
			<AppenderRef ref="ecloudagent" />
		</Logger>
		<Logger name="eu.europeana.cloud.service.mcs.persistent.CassandraRecordService">
			<AppenderRef ref="ecloudagent" />
		</Logger>
	</Loggers>
</Configuration>