*.iml
*.idea
*.DS_Store
tests.log.*
tests.log
/services/mcs/nb-configuration.xml
/target
/.settings
/.classpath
/.project
/services/mcs/mcs-api/target/
/services/mcs/mcs-inmemory-impl/target/
/services/mcs/mcs-persistent-impl/target/
/services/mcs/mcs-rest/target/

indexing.properties
dps.properties

nb-configuration.xml
nbactions.xml
/ecloud-solr/customized-solr/target/
/ecloud-solr/solr-distr/target/

*ewa-nocommit*
*ola-nocommit*
/service/mcs/mcs-driver/target/
/service/mcs/driver/target/
/tools/ecloud-dlf-ingestion-tool/target/

**/.vagrant
/cassandra-connector/target/
/cassandra-connector/cass/target/
/cass/target/
/service/dps/rest/target/
/service/dps/storm/common/target/
/service/dps/storm/kafka/target/
/service/dps/storm/io/target/
/service/dps/storm/transform/xslt/target/
/service/dps/storm/topology/xslt/target/
/service/dps/storm/examples/target/