<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="revisionCleanerLoggerConfig">
    <Properties>
        <Property name="fileName">cleaner-tool.log</Property>
        <Property name="filePattern">${fileName}.%i</Property>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Property>
    </Properties>

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="${pattern}"/>
        </Appender>
        <Appender type="RollingFile" name="FILE" append="true" fileName="${fileName}" filePattern="${filePattern}">
            <Layout type="PatternLayout" pattern="${pattern}"/>
            <SizeBasedTriggeringPolicy size="5 MB"/>
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>

</Configuration>