<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="uisLoggerConfig">
  <Properties>
    <Property name="uisLogsLocation">.</Property>
    <Property name="logsDir">${sys:uisLogsLocation}/</Property>
    <Property name="fileName">${logsDir}uis.log</Property>
    <Property name="filePattern">${fileName}.%d{yyyy-MM-dd}-%i.log.gz</Property>
    <Property name="pattern">%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}{GMT} uis [requestId=%X{requestId}] [%C] - %p : %m%n</Property>
  </Properties>
  <Appenders>
    <Appender name="STDOUT" type="Console">
      <Layout pattern="${pattern}" type="PatternLayout"/>
    </Appender>
    <Appender append="true" fileName="${fileName}" filePattern="${filePattern}" name="FILE" type="RollingFile">
      <DefaultRolloverStrategy max="20"/>
      <Layout pattern="${pattern}" type="PatternLayout"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="512MB"/>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </Appender>
  </Appenders>
  <Loggers>
    <Logger level="debug" name="eu.europeana.cloud.service"/>
    <Root level="info">
      <AppenderRef ref="FILE"/>
    </Root>
    <Logger name="ConsoleLogger" level="warn" additivity="false">
      <AppenderRef ref="STDOUT"/>
    </Logger>
  </Loggers>
</Configuration>