<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd

                        http://www.springframework.org/schema/jee  http://www.springframework.org/schema/jee/spring-jee-3.2.xsd">

    <context:component-scan
            base-package="eu.europeana.cloud.service.ips"/>

    <!-- ImagesResource needs to be declared here for proper initialization of field translator (via ref, not autowired) -->
    <bean id="imagesResource" class="eu.europeana.cloud.service.ips.rest.ImagesResource">
        <property name="translator" ref="translator"></property>
    </bean>

    <!-- Image Translator used in ImagesResource -->
    <bean id="translator"
          class="eu.europeana.cloud.service.ips.ImageTranslator">

        <constructor-arg name="iipHost">
            <jee:jndi-lookup expected-type="java.lang.String"
                             jndi-name="java:comp/env/ips/iipHost"/>
        </constructor-arg>
    </bean>

    <bean id="loggingConfigurator" class="eu.europeana.cloud.service.commons.logging.SimpleLoggingConfigurator"/>
</beans>
