<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="mcsLoggerConfig" status="info" strict="true">
    <Properties>
        <Property name="mcsLogsLocation">.</Property>
        <Property name="logsDir">${sys:mcsLogsLocation}/</Property>
        <Property name="fileName">${logsDir}mcs.log</Property>
        <Property name="filePattern">${fileName}.%d{yyyy-MM-dd}-%i.log.gz</Property>
        <Property name="pattern">%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}{GMT} mcs [requestId=%X{requestId}] [%C] - %p : %m%n</Property>
    </Properties>
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="${pattern}"/>
        </Appender>
        <Appender type="RollingFile" name="FILE" append="true" fileName="${fileName}" filePattern="${filePattern}">
            <DefaultRolloverStrategy max="20"/>
            <Layout pattern="${pattern}" type="PatternLayout"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="512MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </Appender>
        <Appender type="RollingFile" name="S3Modifications" append="true"
          fileName="${sys:logsDir}s3-modifications.log" filePattern="${sys:logsDir}s3-modifications.log.%d{yyyy-MM}">
            <Layout type="PatternLayout"
              pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}{GMT};%X{s3ObjectOperation};%X{s3ObjectName}%n"/>
            <TimeBasedTriggeringPolicy/>
        </Appender>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Root>
        <Logger name="eu.europeana.cloud.service.mcs" level="debug"/>
        <logger name="S3Modifications" additivity="false" level="info">
            <AppenderRef ref="S3Modifications"/>
        </logger>
    </Loggers>
</Configuration>