numberOfElementsOnPage=100
objectStoreSizeThreshold=524288
server.servlet.context-path=/mcs

#### Cassandra settings ####
cassandra.aas.keyspace=
cassandra.aas.user=
cassandra.aas.password=
cassandra.aas.hosts=
cassandra.aas.port=

cassandra.mcs.keyspace=
cassandra.mcs.user=
cassandra.mcs.password=
cassandra.mcs.hosts=
cassandra.mcs.port=


#### swift settings ####
swift.provider=
swift.container=
swift.endpoint=
swift.user=
swift.password=

#### General settings ####
general.uisLocation=