<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="localTopologyLogConfig">
    <Properties>
        <Property name="fileName">topology.log</Property>
        <Property name="filePattern">${fileName}.%d{yyyy-MM-dd}</Property>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %c{1.} %t [%p] %msg%n</Property>
    </Properties>

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="${pattern}"/>
        </Appender>
        <Appender type="RollingFile" name="FILE" append="true" fileName="${fileName}" filePattern="${filePattern}" createOnDemand="true">
            <Layout type="PatternLayout" pattern="${pattern}"/>
            <TimeBasedTriggeringPolicy/>
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <!-- Log only to console <AppenderRef ref="FILE"/> -->
        </Root>
    </Loggers>
</Configuration>