<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:jee="http://www.springframework.org/schema/jee"
         xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
           http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
">
    
    <import resource="classpath:rabbitmq.xml" />
     <import resource="classpath:config.xml" />
    
    <context:annotation-config/>
    
    <bean id="sorlConnector" class="eu.europeana.cloud.service.dls.solr.SolrConnectionProviderImpl">
        <constructor-arg name="solrUrl">
            <jee:jndi-lookup expected-type="java.lang.String" jndi-name="java:comp/env/mcs/solr/url"/>
        </constructor-arg>
    </bean>

    <bean id="solrDAO" class="eu.europeana.cloud.service.dls.solr.SolrDAO"/>
    <bean id="searchRecordService" class="eu.europeana.cloud.service.dls.services.SearchRecordService"/>
    

</beans>         