#!/bin/bash

#exit script of first failed command
set -e
#forbid using unset variables in bash script
set -u
#wildcard * 
shopt -s nullglob


numPreserve=1
solrHTTP='http://localhost:8080/solr'
#dataDirRoot="/home/$USER/install/solr/dataDirRoot"
dataDirRoot="/home/$USER/install/solr/coreRoot"
configSrcDir="/home/$USER/ecloud/repo/ecloud-solr/customized-solr/src/main/resources/solr_files/log_analysis/solr/conf"
configTempDir="/home/hell15user/install/logstash/conf/configTemp"
zkHome="/home/$USER/install/zookeeper/zookeeper"
zkHost='hell15:2181'
solrLibDir="/home/$USER/install/tomcat/tomcat/webapps/solr/WEB-INF/lib"

./shiftCollections.sh $numPreserve $solrHTTP $dataDirRoot $configSrcDir $configTempDir $zkHome $zkHost $solrLibDir

