#!/bin/bash

#exit script of first failed command
set -e
#forbid using unset variables in bash script
set -u
#wildcard * 
shopt -s nullglob


numPreserve=7
solrHTTP='http://localhost:8080/solr'
#dataDirRoot="/home/$USER/install/solr/dataDirRoot"
dataDirRoot="/home/$USER/install/solr/coreRoot"
configSrcDir="/home/$USER/ecloud/repo/solr/custom/src/main/resources/solr_files/log_analysis/solr/conf"
configTempDir="/home/$USER/install/solr/configTemp"
#we don't need zookeeper to run on the same machine, but we need its lib directory, so you can install/copy it alone
zkHome="/home/$USER/zookeeper/zookeeper"
zkHost='hell15:2181'
solrLibDir="/home/$USER/install/tomcat/tomcat/webapps/solr/WEB-INF/lib"

scriptAbsolutePath=/home/$USER/ecloud/repo/utils/logging/cron/shiftCollections.sh

$scriptAbsolutePath $numPreserve $solrHTTP $dataDirRoot $configSrcDir $configTempDir $zkHome $zkHost $solrLibDir

