<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="testsLogConfig">
    <Properties>
        <Property name="pattern">%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}{GMT} [%t] [%C] - %p : %m%n</Property>
    </Properties>

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="${pattern}"/>
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="eu.europeana.cloud.tools.extractor" level="debug"/>
    </Loggers>
</Configuration>